# Envoi d'emails via Gmail.
# 1. Active la validation en 2 etapes sur ton compte Google
# 2. Cree un "mot de passe d'application" : https://myaccount.google.com/apppasswords
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
